<!DOCTYPE html>
<html>
<title>THE BIKE shop - Web App Development</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../my_w3.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>The Bike</b> Store</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/bikes" class="w3-bar-item w3-button">View Bikes</a>
      <a href="/addbike" class="w3-bar-item w3-button">Add a Bike</a>
      <a href="/addmailinglist" class="w3-bar-item w3-button">Join Mailing List</a>
      <a href="/addcomment" class="w3-bar-item w3-button">Leave Feedback</a>
      
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/banner.jpg" alt="Architecture" width="1500" height="650">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>The Bike</b></span> <span class="w3-hide-small w3-text-light-grey">Store</span></h1>
  </div>
</header>